<div class="container mt-4">
  <h2 class="text-center">Loan Applications</h2>
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th>Loan ID</th>
        <th>Amount</th>
        <th>Interest Rate</th>
        <th>Term (Years)</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loan of loans$ | async" (click)="selectLoan(loan)" style="cursor: pointer;">
        <td>{{ loan?.LoanId }}</td>
        <td>{{ loan?.LoanAmount | currency }}</td>
        <td>{{ loan?.InterestRate }}%</td>
        <td>{{ loan?.LoanTermYears }}</td>
        <td>{{ loan?.ApprovalStatus }}</td>
      </tr>
    </tbody>
  </table>
</div>
