* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body{
    font-family: "Roboto Condensed", "Inter", -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

main {
  overflow-x: hidden;
  position: relative;
}

.my-custom-toast {
  top: 80px !important; /* leave space for navbar */
  right: 12px !important;
  bottom: auto !important;
  left: auto !important;
  position: fixed !important;
}

.fancy-button {
  --bg-color: white;
  --text-color: black;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 6px;
  color: var(--text-color);
  text-decoration: none;
  z-index: 10;
  position: relative;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.35s cubic-bezier(0.25, 1, 0.5, 1);
  background-color: var(--bg-color);
}

  .fancy-button:hover {
    transform: scale(1.06);
  }

.fancy-button .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 5rem;
  overflow: visible;
  transition: transform 0.3s ease;
}

  .fancy-button .text-default,
  .fancy-button .text-hover {
    opacity: 1 !important;
    visibility: visible !important;
    height: 2.3rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: 2.3rem;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-align: center;
  }

.fancy-button .text-hover {
  transform: translateY(100%);
  position: absolute;
  top: 0.2rem;
  left: 0;
  width: 100%;
  text-align: center;   
}

.fancy-button:hover .text-wrapper {
  transform: translateY(-2.5rem);
}
